{{> mainmenu _id="viewlandmarkdetails"}}

<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="" method="POST" >
                    <h3 class="ui header">View Landmark Details</h3>
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0"></script>
                    <div class="field">

                        <style>
                            #map {
                                width: 100%;
                                height: 460px;
                                background-color: grey;
                            }
                        </style>
                        <h4>Map</h4>

                        <!--The div element for the map -->
                        <div id="map"></div>

                        <script>
                            // Initialize and add the map
                            function initMap() {

                                let location = {lat: {{landmark.latitude}}, lng: {{landmark.longitude}}, title: 'Location' };

                                let map = new google.maps.Map(
                                        document.getElementById('map'), {zoom: 14, center: location, mapTypeId: 'hybrid'});

                                let marker = new google.maps.Marker({position: location, map: map, title: "Location"});


                                marker.setMap(map);
                            }
                        </script>
                        <!--Load the API from the specified URL
                        * The async attribute allows the browser to render the page while the API loads
                        * The key parameter will contain your own API key (which is not needed for this tutorial)
                        * The callback parameter executes the initMap() function
                        -->
                        <script async defer
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1T235TIjvTc_aL-yUAMjqcVdRTblDDrA&callback=initMap">
                        </script>        </div>
            </div>

            <h4>Name</h4>
            <p>{{landmark.name}}</p>
            <div class="field">
                <h4>Description</h4>
                <p>{{landmark.description}}</p>
                <div></div>
                <div class="field">
                    <h4>Categorys</h4>
                    <p>{{landmark.category}}</p>
                    <div></div>
                    <div class="field">
                        <h4>Latitude</h4>
                        <p>{{landmark.latitude}}</p>
                        <div></div>
                        <div class="field">

                            <h4>Longtitude</h4>
                            <p>{{landmark.longitude}}</p>
                            <div></div>
                            <div class="field">

                                <h4>Comments</h4>
                                <p>{{landmark.comment}}</p>
                                <div></div>

                                <div></div>
                                <div class="field">
                                    <div class="field">

                                        <img src="{{landmark.imageURL}}" alt="No Image" width="542" height="262">

                                        <div></div>
                                        <div></div>
                                        <div></div>





                                        <a href="/report"button class="ui blue submit button">Close</a>


                                        </form>

                                        <a href="https://www.facebook.com/sharer.php"><img src="/images/facebook.png" width="80" height="40"</a>


                                        </p>

                                    </div>


                                </div>
</section>


